@model HomeBudget.WebApp.Models.AccountDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <h1>Payments</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Amount</th>
                <th>DateTime</th>
                <th>Purpose</th>
                <th>Sender</th>
                <th>Recipient</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Payments)
            {
            <tr>
                @if (p.AccountID == Model.AccountID)
                {
                    <td>-</td>
                }
                else
                {
                    <td>+</td>
                }
                <td>@p.Amount</td>
                <td>@p.DateTime</td>
                <td>@p.Purpose</td>
                <td>@Model.Accounts.Find(a => a.AccountID == p.AccountID).Number</td>
                <td>@Model.Accounts.Find(a => a.AccountID == p.RecipientID).Number</td>
            </tr>
            }
        </tbody>
    </table>
</div>


