@model HomeBudget.WebApp.Models.AccountDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>

</div>
@if(Model.CreditCards==null || Model.CreditCards.Count == 0)
{
    <h4>No credit cards connected to this account.</h4>
} else
{
    <h4>Credit cards connected to this account</h4>
    foreach(var c in Model.CreditCards)
    {
        <h5>@c.CreditCardNumber</h5>
    }
}

<div>
    <h1>Payments</h1>
   
    <a asp-action="Create" asp-controller="Payment" asp-route-id="@Model.OwnerAccountID">Add new payment</a>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Amount</th>
                <th>DateTime</th>
                <th>Purpose</th>
                <th>Sender</th>
                <th>Recipient</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Payments)
            {
            <tr>
                @if (p.AccountID == Model.OwnerAccountID)
                {
                    <td>-</td>
                }
                else
                {
                    <td>+</td>
                }
                <td>@p.Amount</td>
                <td>@p.DateTime</td>
                <td>@p.Purpose</td>
                <td>@Model.Accounts.Find(a => a.AccountID == p.AccountID).Number</td>
                <td>@Model.Accounts.Find(a => a.AccountID == p.RecipientID).Number</td>
                <td>@Html.ActionLink("Details", "Details", "Payment", new { id = p.PaymentID, p.AccountID, p.RecipientID, Model.OwnerAccountID })</td>
                <td>@Html.ActionLink("Edit", "Edit", "Payment", new { id = p.PaymentID, p.AccountID, p.RecipientID, Model.OwnerAccountID })</td>
            </tr>
            }
        </tbody>
    </table>
</div>


